<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://is5-ssl.mzstatic.com/image/thumb/toO8_a7YKPIpfUgyJ7MnYg/1200x675mf.jpg"
        cardTitle="NOVO HOMEM DE FERRO EM 3D"
        cardDescription="Marvel Anuncia novo Home de Ferro"
        > 
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>

